@import url('https://fonts.googleapis.com/css2?family=Truculenta&display=swap');

body {
    background: linear-gradient( #304adb, #ed77f0) fixed;
    text-align: center;
    font-family: 'Truculenta', sans-serif;
    color: #fff;
    text-shadow: 0 0 5px red;
}

.main h1 {
    font-size: 5vw;
}


a {
    color: #fff;
    text-shadow: none;
}
@media screen and (max-width: 700px) {
    .main h1{
        font-size: 11vw;
    }

    .main img {
        max-width: 100%;
        height: auto;
    }
}