@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    min-height: 100%;
    background: no-repeat;
    background: linear-gradient(#ffa4a4, #e6ecff);
    font-family: 'Montserrat', sans-serif;
}

img {
    pointer-events: none;
    transition-duration: 0.5s;
}

img::selection {
    background-color: none;
}

.sideimage img{
    pointer-events: none;
    margin-left: 100px;
    margin-top: -240px;
}

.sideimage {
    width: 50%;
    height: 100%;
    float: right;
    pointer-events: none;
    transform: scale(2);
}

.textdiv {
    width: 50%;
    height: 100%;
}


.textdiv h1 {
    font-size: 6vw;
    transition-duration: 1s;
    margin-left: 50px;
}

.textdiv h2 {
    font-size: 3vw;
    transition-duration: 1.1s;
    margin-left: 50px;
}

.footer {
    text-align: center;

}

.footer h2 {
    font-size: 2vw;
}

.footer a {
    font-size: 1.3vw;
}

a {
    color: #fff;
    text-decoration: none;
}

.nav a {
    font-size: 2vw;
}

.nav a:nth-child(2) {
    float: right;
    margin-right: 20px;
}


@media screen and (max-width: 700px) {
    .sideimage {
        display: none;
    }

    .nav a:nth-child(2) {
        float: none;
        margin-right: 0px;
    }

    .nav a {
        font-size: 6vw;
        margin-left: 24px;
    }

    .textdiv h1{
        margin-left: 0px;
        font-size: 13vw;
    }

    .textdiv h2 {
        margin-left: 0px;
        font-size: 7vw;
    }

    .main {
        margin-top: 0px;
    }

    .textdiv {
        margin-top: 0px;
        width: 100%;
        text-align: center;
        margin-top: 60px;
    }

    .footer {
        margin-top: 0px;
    }

    .footer h2 {
        font-size: 6vw;
    }

    .footer a {
        font-size: 4vw;
    }

}