@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

::selection {
    background-color: #ffb06f;
    color: #fff;
}

html, body, main {
    font-family: 'Akaya Kanadaka', cursive;
    margin: 0;
    height: 100%;
    text-align: center;
    width: 100%;
    color: rgb(255, 128, 147);
}

a {
    text-decoration: none;
    transition-duration: 0.5s;
    color: lightpink;
    font-weight: 400;
}

a:hover {
    background-color: #a3d9da;
    color: #fff;
    padding: 10px;
}

.page#home {
    height: 60%;
    width: 100%;
    background: linear-gradient(#bdfeff, white) fixed;
}

.page {
    height: 100%;
}


.page#footer {
    height: 40%;
    border-top: #ccc 2px solid;
}

.page h1 {
    font-size: 9em;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    margin-top: 120px;
}

.page h2 {
    font-size: 3em;
}

.page#contact h3 {
    font-size: 2em;
}

.page#contact h4, .page#contact a {
    font-size: 1.2em;
    color: #6ae3e6;
    transition-duration: 0.5s;
}

.page#contact a:hover {
    color: #fff;
}

.page#about {
    height: calc(100% + 320px);
}

.nav {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.nav a {
    font-size: 2em;
    padding: 20px;
}

.nav a:first-child {
    float: left;
}

.nav a:not(:first-child) {
    float: right;
}


.row {
    display: flex;
}

.column {
    flex: 33.33%;
    background: linear-gradient(#bdfeff, #fff);
    border: 4px solid #fff;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.5);
    padding: 6px;
    margin: 6px;
    height: 450px;
}



.column img {
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 700px) {
    .page h1 {
        font-size: 4em;
    }

    .column {
        flex: 100%;
        display: block;
    }

    .row {
        display: block;
    }

    .page#about {
        height: calc(100% + 1300px);
    }

    .page#footer {
        margin-top: 70px;
    }
}